.details {
  border: none;
  font-size: 1rem;
  background: #ff452b;
  padding: 6px 70px;
  color: #eceff1;
  border-radius: 30px;
}

.details:hover {
  background: #d33a26;
  transform: scale(1.05);
}
