
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,600&display=swap');

*{
    font-family: 'Nunito', sans-serif;

}


.title {
  padding-top: 70px;
  padding-bottom: 50px;
  font-weight: 600;
}
